*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    background-color: #faf7f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0;

}
main {
    margin: 20%;
}

.menu{
    color: #3399ff;
    background-color: #e6edf7;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    padding: 20px;
    border-bottom: #3399ff solid; 
}

.menu li{
    margin: 0 20px;
    padding: 10px;
    font-family: "Open Sans";
    font-size: 16px;
    color: #3399ff;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    
}

ul { 
    display: flex;
    justify-content: center; 
    list-style: none;
    justify-content: space-evenly;
}

li a{
    text-decoration: none;

}
    
nav .logo{
    float: left;
    width: 40%;
    height: 100px;
    display: flex;
    align-items: center;
    font-family: 24xp;
    color: #faf7f7;
    text-transform: uppercase;
}


.images{
    margin-left: 20px;
    
    
}
aside{
    padding: 20px;
    margin: 20px;
    border-left: 4px;
    width: 300px;
    float: right;
}
.entradas-populares li {
    margin-bottom: 15px;
}

.entradas-populares img {
    max-width:  100%;
    height: auto;
    border: 1px solid #ddd;
}

.entradas-populares h3 {
    font-size: 1.1em;
    margin: 5px;
    color: #3399ff;
}
h1{
    color: #848484;
    font-family: "Corsiva";
    font-size: 35px;
    line-height: normal;
    letter-spacing: 5px;
    padding: 50px;
}

h2{
    background-color: #eda0c7;
    color: #d93d8b;
    font-family: "Open Sans"; 
    font-size: 16px;
    font-weight: bold;

}
.images{
    padding: 0px;
}
p {
    color: #66666;
    font-family: "Open Sans";
    font-size: 15,4px;
    line-height: 24px;
    letter-spacing: 1px;
    
}

main {
    flex: 2;
    background-attachment: fixed;
}

aside {
    flex: 1;
    
}
.botones-de-comentario{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-decoration: none;
}
.botones-de-comentario a {
    text-decoration: none;
}

.search-box {
    border: 1px solid #ccc;
    padding: 5px;
    width: auto;
    font-size: 14px;
}
.search-box img {
    margin-right: 10px;
    
}
.search-box img{
    align-items: flex-end;
}
footer {
    margin-bottom: 20px;

}
footer a {
text-decoration: none;

}
footer a:hover {
text-decoration: underline;
}
footer img{
    margin-top: 100px;
}